body {
  background-color: powderblue;
  font-size: 100%;
  
}
h1 {
  color: black;
  font-size: 300%;
}
div {
  color: black;
  font-size: 100%;
  padding: 30px;
}

form{
	color: black;
	background-color: green;
	padding: 250px;
}

fieldset{
	color: black;
}

legend{
	color: black;
	font-size: 200%;
	
	padding: 30px;
}

