body {
  background-color: green;
  font-size: 100%;
  
}
h1 {
	text-align:center;
  color: black;
  font-size: 400%;
}
div {
  color: black;
  font-size: 200%;
  border: 1px solid powderblue;
  padding: 30px;
}

form{
	color: black;
	background-color: green;
	border: 1px solid powderblue;
	
}

fieldset{
	color: black;
}

legend{
	color: black;
	font-size: 300%;
	border: 1px solid powderblue;
	padding: 30px;
}

